.idea/
.qtcreator/
.vs/
.vscode/
.cache/

out/
vcpkg_installed/

build/
cmake-build-debug/
cmake-build-release/

cmake-build-debug-clang/
cmake-build-release-clang/
cmake-build-debug-gcc/
cmake-build-release-gcc/
cmake-build-debug-msvc/
cmake-build-release-msvc/
cmake-build-debug-llvm-mingw/
cmake-build-release-llvm-mingw/

cmake-build-debug-gcc-x64/
cmake-build-release-gcc-x64/
cmake-build-debug-gcc-x86/
cmake-build-release-gcc-x86/
cmake-build-debug-clang-x64/
cmake-build-release-clang-x64/
cmake-build-debug-clang-x86/
cmake-build-release-clang-x86/
cmake-build-debug-msvc-x64/
cmake-build-release-msvc-x64/
cmake-build-debug-msvc-x86/
cmake-build-release-msvc-x86/
cmake-build-debug-mingw-x64/
cmake-build-release-mingw-x64/
cmake-build-debug-mingw-x86/
cmake-build-release-mingw-x86/
cmake-build-debug-llvm-mingw-x64/
cmake-build-release-llvm-mingw-x64/
cmake-build-debug-llvm-mingw-x86/
cmake-build-release-llvm-mingw-x86/

tests/resource/authcode

valgrind.xml
CMakeSettings.json
CMakeLists.txt.user
