*~
*.orig
*.rej
*.pyc
.DS_Store

.idea/
.qtcreator/
.vs/
.vscode/
.cache/
.clangd/
.cache

pythonenv*
/lldb/docs/python_api/

.agents/
/CLAUDE.md
/instructions.md
.claude/
/GEMINI.md
.gemini/
AGENTS.md
.codex/

.cursor
.cursorignore
.cursorindexingignore

out/
vcpkg_installed/
/tags
/TAGS

/build*
/cmake-build*

tests/resource/authcode
tests/resource/db_config.json

.gitusers
/compile_commands.json
/tablegen_compile_commands.yml
valgrind.xml
/CMakeSettings.json
/*/CMakeUserPresets.json
CMakeLists.txt.user
test_log*
